/* .showcase-1 .box {
  position: absolute;
  top: 48px;
  left: 428px;
  transform: translate(-48px, 20%);
  width: 584px;
  height: 48px;
  background: var(--input-color);
  border-radius: 3px;
}

.showcase-1 .box .input-box {
  position: relative;
}

.showcase-1 .box .input-box input {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  color: var(--input-inner-color);
  border: none;
  outline: none;
  background: transparent;
} */


























