@media (max-width:360px) {
.stat {
  visibility: hidden;
}

#hidden-js {
  display: inline-block;
}

body {
  transform: translateY(-24px);
  max-width: 360px;
}

.showcase .showcase-1,
.showcase .showcase-2 {
  display: none;
}

#bars-hidden,
#search-hidden,
#logoMiddle,
#bag-hidden {
  display: inline-block;
  cursor: pointer;
}

.header::before {
  width: 1057.19px;
  left: -457px;
  top: 0px;
}

#logoMiddle {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.95px;
}

.flexbox {
  width: 100%;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 22px 16px;
}

#bars-hidden {
  margin-right: 10px;
}

.main-greeting {
  display: none;
}

.outer-container {
  height: 130px;
}

.outer-container .container > div {
  width: 328px;
  height: 36px;
  margin: 15px 10px 15px;
}

.outer-container .container input[type='email'] {
  width: 224px;
  height: 32px;
}

.outer-container .container .btn {
  width: 96px;
  height: 32px;
}

.outer-container .container .inputs {
  margin: 14px 0 10px;
}

.footer {
  height: 280px;
}

.footer-nav {
  display: none;
}

.footer-container .footer-nav-mob {
  display: inline-block;
}

.footer-container {
  align-items: flex-start;
}

.footer-container .footer-nav-mob {
  display: inline-block;
}

.footer-nav-mob .accordion {
  margin: 10px 0;
}

.footer-nav-mob .accordion:after {
  content: '\1433'; 
  font-size: 15px;
  font-weight: 200;
  color: #000;
  float: right;
  margin-right: 15px;
  margin-bottom: 5px;
}

.footer-nav-mob .active:after {
  content: "\142F"; 
}

.footer .footer-nav-mob .social .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .footer-nav-mob .social .icons a{
  color: #000;
  margin: 0 12px;
}

.copy {
  margin: 10px;
}